.idea
*.ipr
*.iml
*.iws
out/
com_crashlytics_export_strings.xml
atlassian-ide-plugin.xml
.idea_modules/
*.sublime-workspace
sftp-config.json
*.tmproj
*.tmproject
tmtags
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse


vendor/
tests/coverage